# config.py

# --- Modus ---
USE_BUTTON = False    
BUTTON_PIN = 21      
TIMEOUT_SEC = 600    

# --- Was soll angezeigt werden? ---
SHOW_HOSTNAME = True
SHOW_IP = True
SHOW_CPU = False
SHOW_RAM = False
SHOW_DISK = False

# Display Einstellungen
WIDTH = 128
HEIGHT = 32
I2C_ADDR = 0x3c